body {
    background-color: firebrick;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

img {
    height: 200px;
    width: 350px;
}

#main-div {
    background-color: lightcoral;
    height: 700px;
    width: 900px;
    margin: 50px auto;
}
header {
    text-align: center;
}